<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
  </head>
  <body>

    <h4>WHEN IS YOUR NEXT EPIC RIDE ?</h4>

    <% if logged_in? %>
   <p>
      <a href="/home">Home</a>&nbsp;
      <a href="/rides">Rides</a>&nbsp;
      <a href="/cyclists/<%=session[:user_id]%>">Achievements</a>&nbsp;
      <a href="/rides/new">Create New Ride</a>&nbsp;
      <a href="/logout">Logout</a>
   </p>
       <%end%>
    <div class="p-3 mb-2 bg-light text-dark">
      <div class="container p-3 mb-2">

    <%=yield%>

    <!-- footer -->
           <div class="row fixed-bottom">
             <div class="col-sm-12 text-center">
               &copy; 2020 FIND. All Rights Reserved.
             </div>
           </div><!-- .footer -->

       </div><!-- .container -->
     </div><!-- .background -->


   </body>
 </html>
