<h2>Login</h2>

<h3>
  <font color="#33ccff">
    <% if flash.has?(:message_for_login_page) %>
      <a href="/signup"><%= flash[:message_for_login_page] %></a>
    <% end %>
  </font>
</h3>


<form action="/login" method="POST">
  <p>Username: <input id="username" type="text" name="username"></p>
  <p>Password: <input id="password" type="text" name="password"></p>
  <input class="log_in" type="submit" value="Submit">
</form>


<br>
<div class="col-sm-12 text-left">
<p>Register a New Account:<a href="/signup" style="text-decoration: underline;">click here</a></p>
<p>To return to the home page:<a href='/' style="text-decoration: underline;">click here</a>
</div>
