<h3>
   <font color="#33ccff">
    <% if flash.has?(:signup_page_message) %>
     <%= flash[:signup_page_message] %>
    <% end %>
   </font>
 </h3>


<h2>Sign-up</h2>

<form action="/signup" method="POST">
 <p>Username:<input type="text" name="username" id="username"></p>
 <p>Email:<input type="text" name="email" id="email"></p>
 <p>Password:<input type="text" name="password" id="password"></p>
 <input class="sign_up" type="submit">
</form>


<br>
<div class="col-sm-12 text-left">
<p>If you have an account already:<a href='/login'>click here</a></p>
<p>To return to the home page:<a href='/'>click here</a></p>
</div>
