<div class="ride">
     <h3><a href="/cyclists/<%=user.id%>"><%= user.username %></a></h3>
    <p>Description: <%= ride.description %></p>
    <p>Distance: <%= ride.ride_distance %></p>
</div>
</div>
